@media (min-width: 320px) and (max-width: 767px) {

	.container {
		width: calc(100% - 20px);
		max-width: 747px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.container-wide {
		width: 100%;
		padding: none;
	}

	.author-link {
		flex-basis: 150px;
	}

	.author-title {
		display: flex;
		width: auto;
	}	

	.author-title__name {
		line-height: 21px;
		font-size: 14px;
		flex-basis: 75px
	}

	.my-contacts-hidden {
		width: 40px;
		height: 40px;
		position: relative;
		cursor: pointer;
	}

	.my-contacts-hidden::before {
		font-family: 'FontAwesome';
		content: '\f095';
		font-size: 40px;
		color: #33c1e3;
		position: absolute;
		top: 0;
		left: 0;
	}

	.my_contacts__title  {
		display: none;
	}

	.contacts__list {
		left: -155px;
	}

	.contacts__list::before {
		left: 151px;
	}

	.contacts__list::after {
		left: 153px;
	}

	.container-content {
		padding: 15px 10px 30px 10px;
	}

	.sidebar {
		flex-basis: 100%;
	}

	.main-menu__list {
		display: flex;
	}

	.main-menu__point {
		margin-right: 20px;
	}

	.main-menu__link {
		text-align: left;
		line-height: 24px;
		font-size: 14px;
		padding-right: 0px;
	}

	.main-menu__link_active {
		border-right: none;
	}

	.main-menu__link_about-me::before, .main-menu__link_career::before, .main-menu__link_portfolio::before {
		display: none;
	}

	.main-photo {
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.main-photo__image {
		height: 145px;
		border: 5px solid #fff;
	}

	.main-content {
		display: flex;
		flex-wrap: nowrap;
		flex-basis: 100%;
		flex-direction: column;
		align-items: center;
	}

	.about-me {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.main-title {
		margin: 0;
	}

	.about-me__info {
		font-size: 16px;
	}

	.main-btn__wrapper_about-me {
		float: none;
		margin-top: 17px;
		margin-bottom: 0;
	}

	.main-footer__wrapper {
		align-items: center;
		flex-direction: column;
		padding-top: 17px;
		padding-bottom: 17px;
	}

	.confidentiality {
		text-align: center;
		width: 160px;
		line-height: 21px;
		margin-bottom: 13px;
	}

	.career-picture {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 17px 0 0 0;
	}

	.ladder-block__date {
		display: none;
	}

	.ladder-block:first-child {
		margin-top: 20px;
	}

	.ladder-box {
		width: 300px;
	}

	.ladder-box::before {
		display: none;
	}

	.ladder-box_active.ladder-box::after {
		display: none;
	}

	.ladder-box:hover::after {
		display: none;
	}

	.ladder-box__studio-name {
		font-size: 18px;
	}

	.ladder-box__position, .ladder-box__date {
		font-size: 16px;
	}

	.my-projects {
		display: flex;
		flex-direction: column;
	}

	.my-projects_wrapper {
		margin-left: 0px;
		margin-top: 17px;
	}

	.projects-box {
		flex-direction: column;
	}

	.project-card__image {
		width: 300px;
	}

	.on-map__remote-partnership {
		display: none;
	}

	.on-map__content {
		width: 85vw;
		height: 85vh;
		padding: 10px;
		overflow: hidden;
	}

	.on-map__close {
		top: 35px;
		right: 20px;
		font-size: 50px;
	}
	.yandex-map-settings {
		width: 85vw;
		height: 85vh;
	}
}