include common/_mixin

doctype html
html(lang="ru")

	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title
			block page-title
		link(rel="icon" href="favicon.png" type="image/png")
		link(rel="stylesheet" href="css/normalize.css")
		link(rel="stylesheet" href="css/basic.css")
		link(rel="stylesheet" href="css/style.css")
		link(rel=
			"stylesheet" href="css/style__tablet.css")
		link(rel="stylesheet" href="css/style__mobile.css")
		link(rel="stylesheet" href="css/animate.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet")

	body
		.document-wrapper
			.preloader#page-preloader
				.loader
			include common/header

			section.container-content.container
				include common/sidebar
				main.main-content
					block content

			include common/footer

			script(type="text/javascript", src="js/preloader.js")
			script(type="text/javascript", src="js/wow.min.js")
			script(src="js/wow.min.js")
			script
				| new WOW().init();
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
			script(type="text/javascript", src="js/nicescroll__settings.js")
			script(type="text/javascript", src="js/jquery__page-function.js")
			script(type="text/javascript", src="js/modal-window.js")





	








