extends ../page/main

block title
	| Портфолио

block content
	.my-projects.my-projects_wrapper.wow.fadeIn(data-wow-delay="1.2s")
		h2.main-title
			| Портфолио
		.projects-box
			.project-card
				img(src="img/portfolio__deals-app.jpg", alt="Project deals-app").project-card__image
				.project-card_inner-box
					a(href="#").project-card__link
						| Deals App
					.project-card__title
						| Продажа одежды
					.project-card__description.project-card__description_type-app
						| Приложение
			.project-card
				img(src="img/portfolio__dream-scapes.jpg", alt="Project Dream Scapes").roject-card__image
				.project-card_inner-box
					a(href="#").project-card__link
						| Dream Scapes
					.project-card__title
						| Лагуна Люфтганза
					.project-card__description.project-card__description_type-site
						| Лендинг
			.project-card
				img(src="img/portfolio__creative-studio.jpg", alt="Project Creative Studio").project-card__image
				.project-card_inner-box
					a(href="#").project-card__link
						| Creative Studio
					.project-card__title
						| Танцевальная студия
					.project-card__description.project-card__description_type-site
						| Корпоративный сайт
			.project-card
				img(src="img/portfolio__studio-frog.jpg", alt="Project Frog Studio").project-card__image
				.project-card_inner-box
					a(href="#").project-card__link
						| Studio Frog
					.project-card__title
						| Мебельный магазин
					.project-card__description.project-card__description_type-site
						| Лендинг
			.project-card
				img(src="img/portfolio__carbonara.jpg", alt="Project Carbonara").project-card__image
				.project-card_inner-box
					a(href="#").project-card__link
						| Carbonara
					.project-card__title
						| Итальянский ресторан
					.project-card__description.project-card__description_type-site
						| Лендинг




	