
/* Index.html Styles */

.start-page__wrapper {
	display: flex;
	height: 100vh;
}

.author-card_wrapper {
	margin: auto;
}

.author-card { 
	width: 300px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.author-card__photo {
	width: 144px;
}

.author-card__image {
	border-radius: 50%;
	border: 2px solid #bebebe;
	position: absolute;
	top: -72px;
	left: 75px;
}

.author-card__name {
	font-family: 'Open Sans', sans-serif;
	padding-top: 87px;
	padding-bottom: 13px;
	font-size: 21px;
	line-height: 28px;
	color: #414141;
	display: flex;
}

.author-card__text {
	margin: 0 auto;
	padding: 0 15%;
}

.author-card__entrance {
	background-color: #33c1e3;
	padding: 20px 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;   
}

/* About_me.html Styles */

/* ----- HEADER -Start- */

.main-header {
	padding: 8px 0;
	background: #fff;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.main-header__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.author-link {
	text-decoration: none;
}

.author-title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 255px;
	justify-content: space-between;
	border-radius: 10px;
	transition: color 0.2s;
}

.author-title__photo {
	border-radius: 50%;
	border: 2px solid #bebebe;
	height: 60px;
}

.author-title__name {
	line-height: 60px;
	color: #414141;
	transition: color 0.2s;
}

.author-title:hover .author-title__name {
	color: #e85f61;
}

.on-map_wrapper {
	margin-left: auto;
	margin-right: 15px;
}

.on-map__link {
	cursor: pointer;
	display: block;
	width: 40px;
	height: 40px;
}

.on-map__link::before {
	font-family: 'FontAwesome';
	content: '\f041';
	color: #33c1e3;
	display: block;
	font-size: 22px;
	transition: color 0.2s;
	width: 40px;
	line-height: 40px;
	height: 40px;
	border: 2px solid #e85f61;
	border-radius: 50%;
	text-align: center;
	position: relative;
	top: -3px;
}

.on-map__link:hover::before {
	color: #e85f61;
}

.on-map__window {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(114, 114, 114, 0.8);
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: auto;
}

.on-map__content {
	background-color: #fff;
	border-radius: 10px;
	width: 80%;
	padding: 35px;
	position: absolute;
	min-height: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.on-map__close {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #414141;
	transition: color, transform 0.2s;
	font-size: 35px;
	cursor: pointer;
}

.on-map__remote-partnership {
	font-family: 'FiraSans Light';
	font-size: 16px;
	color: #727272;
	line-height: 28px;
}

.on-map__close:hover {
	color: #e85f61;
	transform: scale(1.2);
}

.my_contacts__title {
	font-family: 'FiraSans Bold';
	color: #32c3e5;
	line-height: 20px;
	cursor: pointer;
	transition: color 0.2s;
	position: relative;
	padding: 10px 0;
}

.my_contacts__title::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 10px;
	left: 0;
	border-bottom: 2px dotted #32c3e5;
	transform-origin: bottom right;
	transition: transform 0.2s ease-out;
}

.my_contacts__title:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
	border-bottom: 2px dotted  #e85f61;
}

.my_contacts__title:hover .contacts__list {
	opacity: 1;
	visibility: visible;
}

.my-contacts-hidden {
	position: relative;
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.my-contacts-hidden__list {
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    position: absolute;
    margin-top: 20px;
    width: 300px;
    top: 52px;
    left: -260px;
    padding: 7px 10px 15px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 2;
    transition: opacity 0.2s;
    text-align: center;
    box-sizing: border-box;
}

.my-contacts-hidden__list_visible {
	opacity: 1;
	visibility: visible;
}

.contacts__list {
	visibility: hidden;
	opacity: 0;
	background-color: #fff;
	position: absolute;
	margin-top: 20px;
	top: 20px;
	left: -70px;
	padding: 7px 10px 15px 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	z-index: 2;
	transition: opacity 0.2s;
}

.contacts__list::before {
	position: absolute;
	top: -20px;
	left: 84px;
	content: '';
	width: 1px;
	display: block;
	border: 10px solid transparent;
	border-bottom: 10px solid #ccc;
}

.contacts__list::after {
	position: absolute;
	top: -16px;
	left: 86px;
	content: '';
	width: 1px;
	display: block;
	border: 8px solid transparent;
	border-bottom: 8px solid #fff;
}

.contacts__link {
	font-family: 'FiraSans Light';
	display: inline-block;
	line-height: 28px;
	color: #414141;
	text-decoration: none;
	padding-left: 10px;
	margin-bottom: 15px;
	transition: color 0.2s;
}

.contacts__link:hover {
	color: #e85f61;
}

.contacts__link_email::before {
	font-family: 'FontAwesome';
	content: '\f0e0';
	color: #33c1e3;
	padding-right: 10px;
}

.contacts__link_tel::before {
	font-family: 'FontAwesome';
	content: '\f095';
	color: #33c1e3;
	padding-right: 10px;
}

.contacts__link_skype::before {
	font-family: 'FontAwesome';
	content: '\f17e';
	color: #33c1e3;
	padding-right: 10px;
}

.feedback_wrapper {
	text-align: center;
}

.feedback__window {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(114, 114, 114, 0.8);
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: auto;
}

.feedback__content {
	cursor: default;
	background-color: #33c1e3;
	border-radius: 10px;
	max-width: 80%;
	padding: 35px;
	position: absolute;
	min-height: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.feedback__close {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	transition: color, transform 0.2s;
	font-size: 35px;
	cursor: pointer;
}

.feedback__close:hover {
	color: #e85f61;
	transform: scale(1.2);
}

.feedback__title {
	font-family: 'FiraSans Regular';
	color: #fff;
	font-size: 21px;
	text-align: center;
	margin: 10px 0;
}

.feedback-form__input, .feedback-form__textarea {
	font-family: 'FiraSans Regular';
	display: block;
	font-size: 14px;
	color: #414141;
	line-height: 21px;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: #fff;
	outline: none;
	border: none;
	min-width: 250px;
	box-sizing: border-box;
}

.feedback-form__textarea {
	border-radius: 5px;
	text-align: left;
	margin-bottom: 10px;
	resize: none;
}

.feedback-form__input_submit {
	font-family: 'FiraSans Bold';
	color: #fff;
	background-color: #e85f61;
	cursor: pointer;
}

.feedback-form__validation {
	font-family: 'FiraSans Medium';
	margin: 5px 0;
	font-size: 14px;
	color: #e85f61;
}

/* ----- HEADER -End- */

.container-content {
	padding: 25px 0 20px 0;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
}

/* ----- Main Menu - Start - */

.sidebar {
	flex-basis: 222px;
}

.main-menu__link {
	text-align: right;
	display: block;
	line-height: 45px;
	color: #414141;
	text-decoration: none;
	padding-right: 25px;
	transition: color 0.2s;
}

.main-menu__link:hover {
	color: #33c1e3;
}

.main-menu__link_active {
	border-right: 6px solid #32c4e6;
	color: #33c1e3;
	font-family: 'FiraSans Bold';
}

.main-menu__link_about-me::before {
	font-family: 'FontAwesome';
	content: '\f21b';
	padding-right: 10px;
}

.main-menu__link_career::before {
	font-family: 'FontAwesome';
	content: '\f135';
	padding-right: 10px;
}

.main-menu__link_portfolio::before {
	font-family: 'FontAwesome';
	content: '\f0b1';
	padding-right: 10px;
}

/* ----- Main Menu - End - */

.main-content {
	display: flex;
	flex-wrap: wrap;
	flex-basis: calc(100% - 222px);
}

.main-photo {
	margin: 0 auto;
}

.main-photo__image {
	border-radius: 50%;
}

.about-me {
	flex-basis: 390px;
}

.about-me__info {
	font-family: 'FiraSans Light';
	line-height: 26px;
	max-height: 280px;
	overflow-y: scroll;
	position: relative;
}

.main-btn__wrapper_about-me {
	float: right;
	margin-top: 17px;
	margin-bottom: 85px;
}

/* ----- Footer - Start - */

.main-footer {
	background: #646464;
	padding: 10px 0;
}

.main-footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.confidentiality {
	font-size: 14px;
	color: #9c9c9c;
}

.social__list {
	display: flex;
	justify-content: flex-end;
}

.social__link {
	display: block;
	width: 31px;
	height: 31px;
	margin-left: 10px;
	background: url(../img/social__sprite.png) no-repeat;
	transition: background-position 0.2s;
}

.social__link-hidden {
	visibility: hidden;
}

.social__link_fb {
	background-position: 0 0;
}

.social__link_fb:hover {
	background-position: 0px -44px;
}

.social__link_vk {
	background-position: -38px 0;
}

.social__link_vk:hover {
	background-position: -38px -44px;
}

.social__link_tw {
	background-position: -76px 0;
}

.social__link_tw:hover {
	background-position: -76px -44px;
}

.social__link-span-hide {
	visibility: hidden;
}

/* ----- Footer - End - */

/* Career.html Styles */

.career-picture {
	margin: 0 auto;
}

.career-picture__box {
	width: 220px;
	height: 220px;
	border-radius: 10px;
	background-image: url('../img/career__image.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.career-picture__box_wrapper {
	margin-top: 23px;
}

.my-career .ladder-block:last-child .ladder-block__date::before {
	display: none;
}

.ladder-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.ladder-block:first-child {
	margin-top: 65px;
}

.ladder-block:last-child {
	margin-bottom: 0px;
}

.ladder-block__date {
	font-family: 'FiraSans Light';
	position: relative;
	margin-right: 35px;
	margin-left: -30px;
}

.ladder-block__date::before {
	position: absolute;
	content: '';
	display: block;
	width: 1px;
	background-color: #ddd;
	height: 110px;
	top: 20px;
	left: 49px;
}

.ladder-block__date_active {
	font-family: 'FiraSans Bold';
	color: #33c1e3;
}

.ladder-box {
	position: relative;
	background-color: #fff;
	cursor: pointer;
	width: 380px;
	padding: 20px 0px 17px 20px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	transition: background-color, color 0.2s;
}

.ladder-box_active {
	background-color: #33c1e3;
	color: #fff;
}

.ladder-box_active.ladder-box::after {
	top: calc(50% - 10px);
	left: -32px;
	position: absolute;
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgba(51, 193, 227, 0.5);
}

.ladder-box:hover {
	background-color: #33c1e3;
	color: #fff;
}

.ladder-box::before {
	top: calc(50% - 5px);
	left: -27px;
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #33c1e3;
}

.ladder-box:hover::after {
	top: calc(50% - 10px);
	left: -32px;
	position: absolute;
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgba(51, 193, 227, 0.5);
}

.ladder-box__studio-name {
	font-size: 21px;
}

.ladder-box__position, .ladder-box__date {
	font-family: 'FiraSans Light';
	margin-top: 4px;
}

/* Portfolio.html Styles */

.my-projects {
	margin-bottom: -20px;
}

.my-projects_wrapper {
	margin-left: 20px;
}

.projects-box {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.project-card {
	flex-basis: 220px;
	margin-right: 19px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.project-card__image {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.project-card_inner-box {
	padding: 12px 0 17px 20px;
	font-size: 14px;
}

.project-card__link {
	display: block;
	text-decoration: none;
	font-size: 21px;
	color: #33c1e3;
	transition: color 0.2s;
}

.project-card__link:hover {
	color: #e85f61;
}

.project-card__title {
	font-family: 'FiraSans Light';
	font-size: 14px;
	color: #414141;
	margin-top: 3px;
	margin-bottom: 12px;
}

.project-card__description {
	font-family: 'FiraSans Bold';
	color: #aeaeae;
}

.project-card__description_type-app::before {
	font-family: 'FontAwesome';
	content: '\f10a';
	font-size: 18px;
	margin-right: 5px;
}

.project-card__description_type-site::before {
	font-family: 'FontAwesome';
	content: '\f108';
	font-size: 18px;
	margin-right: 5px;
}